{% extends "./base.njk" %}

{% block pageTitle %}
Login | fedIMG
{% endblock pageTitle %}


{% block body %}
<div class="container">

    <div class="px-4 py-5 my-5 text-center">
        <main class="form-signin w-100 m-auto">
            <form class="d-flex flex-column gap-3 w-50" action="/auth/login" method="post">
                <h1 class="fw-bold my-2">fedIMG</h1>
                <div class="h3 mb-3 fw-normal">
                    Please sign in
                </div>
                <div class="form-floating">
                    <input type="email" name="email" autofocus class="form-control" id="floatingInput"
                        placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword"
                        placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                {# error alert #}
                <div class="errors-container">
                    <div id="errorAlert"
                        class="alert alert-danger d-none d-flex align-items-center justify-content-between"
                        role="alert">
                        <span id="error-text"></span>
                        <button class="btn-close" tabindex="-1" data-bs-dismiss="alert"></button>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg w-100" type="submit">Sign in</button>
                <a class="mt-2 btn btn-outline-secondary btn-lg w-100" href="/auth/register">Create an account</a>
                <p class="mt-5 mb-3 text-body-secondary">Copyright © 2023 fedIMG. All rights reserved.</p>
            </form>
        </main>
    </div>
</div>
{% endblock body %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // search params
        // https://stackoverflow.com/a/41576377
        const error = new URL(window.location.href).searchParams.get('description');
        if (!error) return;

        const alertEl = document.querySelector('#errorAlert');
        if (!alertEl) {
            console.warn('Unable to locate alert to show errors');
            console.error('Got error: ', error);
            return;
        }

        // update text
        alertEl.querySelector("#error-text").textContent = error;

        // show alert
        alertEl.classList.remove('d-none');

    });
</script>
{% endblock script %}