{% extends "./base.njk" %}

{% block pageTitle %}
Create an Account | fedIMG
{% endblock pageTitle %}

{% block body %}
<div class="container">

    <div class="px-4 py-5 my-5 text-center">
        <main class="form-register w-100 m-auto">
            <form class="d-flex flex-column gap-2 w-50" action="/auth/register" method="post">
                <h1 class="fw-bold my-2">fedIMG</h1>
                <div class="h3 mb-3 fw-normal">
                    Create an account
                </div>
                <div class="form-floating">
                    <input type="email" autofocus required class="form-control" id="formControlEmail" name="email"
                        placeholder="name@example.com">
                    <label for="formControlEmail">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="text" required class="form-control" id="formControlUsername" name="username"
                        placeholder="name0123">
                    <label for="formControlUsername">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" required class="form-control" id="floatingPassword" name="password"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="mt-4 btn btn-primary btn-lg w-100 py-2" type="submit">Submit</button>
                <a class="mt-2 btn btn-outline-secondary btn-lg w-100 py-2" href="/auth/login">Login</a>
                <p class="mt-5 mb-3 text-body-secondary">Copyright © 2023 fedIMG. All rights reserved.</p>
            </form>
        </main>
    </div>
</div>
{% endblock body %}<div class="container">

    <div class="px-4 py-5 my-5 text-center">
        <main class="form-signin w-100 m-auto">
            <form enctype="multipart/form-data" action="/register" class="d-flex flex-column gap-2 w-50">
                <h1 class="h3 mb-3 fw-normal">
                    Please sign in
                </h1>
                <div class="form-floating">
                    <input type="email" required class="form-control" id="formControlEmail"
                        placeholder="name@example.com">
                    <label for="formControlEmail">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" required class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="mt-4 btn btn-primary w-100 py-2" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
            </form>
        </main>
    </div>
</div>