{% extends "home/base-home.njk" %}

{% block pageTitle %}
Home | fedIMG
{% endblock pageTitle %}

{% block content %}
<section id="main-section-placeholder">
    <div class="container mt-3 card">
        <div class="card-body">
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">Welcome, {{loggedInUser.name}}!</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Your feed will appear here.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
