{% extends "home/base-home.njk" %}

{% block pageTitle %}
{{profileUser.userEmail}} | fedIMG
{% endblock pageTitle %}

{% block content %}
<style>
    .image-edit-overlay {
        display: inline-block;
        width: 100%;
        height: 20px;
        background-color: red;
    }
    .attachment-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .attachment-item .invisible {
        display: none !important;
    }
</style>

<div class="card">
    <div class="card-body">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-1">
                            <div class="row flex-column">
                                {% if profileUser.userAvatar %}
                                {# render avatar if exists #}
                                <img src="{{profileUser.userAvatar}}" alt="profile pic" class="img-fluid">
                                {% else %}
                                {# placeholder avatar #}
                                <img src="https://placehold.co/100x160" alt="profile pic" class="img-fluid">
                                {% endif %}
                                {% if showProfileEditOptions %}
                                <button id="btn-update-photo" class="btn btn-link" style="font-size: 12px;"
                                data-bs-toggle="modal" data-bs-target="#updatePhotoModal">Update Photo</button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="row flex-column gap-3">
                                        {# FIXME: parse emoji #}
                                        <h2 class="m-0">
                                            {{profileUser.userName}}
                                            {% if showProfileEditOptions %}
                                            <sup>
                                                <button id="btn-edit-profile-name" class="btn btn-link"
                                                    data-bs-toggle="modal" data-bs-target="#displayNameModal">
                                                    <i class="ti ti-pencil" data-bs-tooltip="Update Name"></i>
                                                </button>
                                            </sup>
                                            {% endif %}
                                        </h2>
                                        {% if profileUser.userAttachments %}
                                        <div class="d-flex align-items-center gap-2">
                                            {% for attachment in profileUser.userAttachments %}
                                            {# Note: need to support more types #}
                                                {% if attachment.type == 'PropertyValue' %}
                                                <div class="attachment-item">
                                                    <i class="ti ti-link text-primary"></i>
                                                    {# FIXME: improve safety #}
                                                    {{attachment.value | safe}}
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        {% if profileUser.userTags %}
                                            <div class="d-flex align-items-center gap-2">
                                                {% for tag in profileUser.userTags %}
                                                <a href="{{tag.href}}" target="_blank">
                                                    <span class="badge rounded-pill text-bg-secondary">{{tag.name}}</span>
                                                </a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {# Follow button #}
                                {% if isLoggedIn and metadata.showFollowButton %}
                                <div class="col-2">
                                    <button class="btn btn-primary">Follow</button>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-12 mt-3">
                                <div class="row">
                                    <div class="col">
                                        <strong>Followers:</strong> {{metadata.followersCount}}
                                    </div>
                                    <div class="col">
                                        <strong>Following:</strong> {{metadata.followingCount}}
                                    </div>
                                    <div class="col">
                                        <strong>Posts:</strong> {{metadata.postsCount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# image previews #}
{% if posts.length>0 %}
<div class="container my-4">

    <div class="row">
        {% for img in posts %}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a class="d-flex flex-column gap-1" href="/images/{{img._id}}">
                        <div>
                            <img src="{{img.path}}" alt="{{img.alt}}" class="img-fluid">
                        </div>
                    </a>
                </div>
                {# Alt text #}
                <div class="card-footer">
                    <div>{{img.alt}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{# Update profile name modal #}
<div id="displayNameModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please set a "Display Name" for your profile below.</p>

                <form id="displayNameForm" action="/users/profile/update-name" method="post">
                    <div class="mb-3">
                        <label for="displayName" class="form-label">Display Name</label>
                        <input type="text" class="form-control" placeholder="Ex: John Mastodon" id="displayName"
                            name="displayName" required autocomplete="name" value="{{userName}}">
                        <div class="form-text">This name will be visible to viewers of your profile.</div>
                    </div>

                    <input class="btn btn-primary float-end" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

{# Update profile photo modal #}
<div id="updatePhotoModal" class="modal modal-lg" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updatePhotoForm" action="/users/profile/update-photo" method="post">
                    <div class="mb-3">
                        <label for="updatePhoto" class="form-label">Profile Photo</label>
                        <input type="file" accept="image/png;image/jpg/image/jpeg" class="form-control" id="updatePhoto"
                            name="updatePhoto" required>
                        <div class="form-text">JPG/PNG are supported.</div>
                    </div>
                    <div class="mb-3 text-center">
                        <img id="update-photo-preview" src="#" alt="Preview will be visible here."
                            style="width: 100px;height: 60px;">
                    </div>

                    <input class="btn btn-primary float-end" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>

    // Display Name modal stuff
    const displayNameModal = document.getElementById('displayNameModal')
    const displayNameForm = document.getElementById('displayNameForm')
    const displayNameInput = document.getElementById('displayName')

    displayNameModal.addEventListener('shown.bs.modal', () => {
        displayNameInput.focus();
    });

    displayNameModal.addEventListener('hide.bs.modal', () => {
        displayNameForm.reset();
    });

    // Update photo modal stuff
    const updatePhotoModal = document.getElementById('updatePhotoModal');
    const updatePhotoForm = document.getElementById('updatePhotoForm');
    const fileInput = updatePhotoModal.querySelector('#updatePhoto');
    const preview = updatePhotoModal.querySelector('#update-photo-preview');

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            preview.src = URL.createObjectURL(file);
        }
    })

    updatePhotoModal.addEventListener('hide.bs.modal', () => {
        updatePhotoForm.reset();
        preview.src = null;
    })

</script>
{% endblock script %}